###> symfony/framework-bundle ###
.env
/public/bundles/
/var/log/*
/var/cache/*
!/var/cache/.gitkeep
!/var/log/.gitkeep
/vendor/*
!/vendor/.gitkeep
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*
!/config/jwt/.gitkeep
###< lexik/jwt-authentication-bundle ###

.bash_history
.composer
.rnd

supervisord.log
supervisord.pid

/public/images/1000/*
/public/images/420/*
/public/images/200/*
!/public/images/1000/.gitkeep
!/public/images/420/.gitkeep
!/public/images/200/.gitkeep

/data/files/
/data/images/
!/data/files/.gitkeep
!/data/images/.gitkeep

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
