{% extends 'emails/layout.html.twig' %}

{% block body %}
    <p>{% trans %}hi{% endtrans %} {{ user.name }}!</p>
    <p>{% trans %}to_set_up_new_password_follow_the_link{% endtrans %}</p>

    <table class="btn btn-primary">
        <tr>
            <td><a href="{{ url }}" target="_blank">{{ url }}</a></td>
        </tr>
    </table>
    <p>{% trans %}thanks{% endtrans %}</p>
{% endblock %}
