{% extends 'emails/layout.html.twig' %}

{% block body %}
    <p>{% trans %}hi{% endtrans %} {{ user.name }}!</p>
    <p>{% trans %}you_are_successfully_registered{% endtrans %}</p>
    <p>{% trans %}to_confirm_your_email_follow_the_link{% endtrans %}</p>

    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
        <tr>
            <td align="left">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td><a href="{{ url }}" target="_blank">{{ url }}</a></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <p>{% trans %}thanks{% endtrans %}</p>
{% endblock %}
